:root {
  --primary-color: rgba(13, 110, 139, 0.50);
  --overlay-color: rgba(136, 139, 198, 0.85);
  --menu-speed: 0.75s;
}

body {
    block-size: 100vh;
    background: lightsteelblue;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}


.coupon {
  border: 5px dotted #0f0844;
  width: 20%;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 600px;
}

.container {
  padding: 2px 0px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}

.break{
  height:40px;
}


header h1 {
  background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
  background-size: 200%;
  background-position: -200%; 
  animation: animated-gradient 3s infinite alternate-reverse;
}




@keyframes animated-gradient{
  to{
    background-position: 200%;
  }
}

@media (max-width: 600px){
.coupon {
  border: 5px dotted #bbb;
  width: 40%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}
}